@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Dolbomche_R";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 폰트 */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: rgb(255, 255, 255);
  }
}
@keyframes wheel {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0.6rem);
  }
}
@keyframes arrow {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 타이핑 효과 , 마우스 휠 효과 */
@keyframes Shake_it {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(75deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* 데스크탑 사이즈 시작 */
@media screen and (min-width: 1025px) {
  .content02 {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translate(-50%, -50%);
  }

  #section02 .front_imgbox {
    left: 10%;
  }

  .skill_wrap {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .typing::before {
    content: "안녕하세요.";
    position: absolute;
    top: -25%;
    left: 0;
    height: 20%;
    overflow: hidden;
    border-right: 0.05em solid white;
    white-space: nowrap;
    font-size: 120%;
    animation: typing 3s steps(6) infinite, blink-caret 0.75s step-end infinite;
    animation: none;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 44%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }

  .typing.playing::before {
    animation: typing 2.5s steps(6, end), blink-caret 0.75s step-end infinite;
  }
  .front_imgbox2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    top: 25%;
    transform: translateX(50%);
  }
  .front_imgbox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 25%;
    transform: translateX(-50%);
  }
  .front_imgbox_about {
    transform: translateX(-140%);
  }
  .front_imgbox_about > img {
    width: 70%;
    height: 49%;
    object-fit: cover;
    margin-right: 23px;
  }
  .front_img {
    width: 32%;
    height: 49%;
    object-fit: cover;
    margin-right: 23px;
  }
  .logo_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
  }
  .content08 {
    max-width: 1600px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact__info {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
  }
  .contact__infotxt {
    margin-top: 150px;
    font-size: 1.5em;
  }
}
/* 데스크탑 사이즈 끝 */

/* 태블릿 가로 사이즈 시작*/
@media (min-width: 769px) and (max-width: 1024px) {
  .content02 {
    position: absolute;
    top: 65%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: translate(0%, -50%);
  }

  .typing::before {
    content: "안녕하세요.";
    position: absolute;
    top: -30%;
    font-size: 120px;
    left: 0%;
    height: 17%;
    overflow: hidden;
    border-right: 0.05em solid white;
    white-space: nowrap;
    animation: typing2 3s steps(6), blink-caret 0.75s step-end infinite;
    animation: none;
  }
  .front_imgbox_about {
    transform: translateX(-50%);
  }
  .Profile {
    width: 50%;
  }
  .front_imgbox :nth-of-type(n + 2) {
    display: none;
  }
  .front_imgbox2 :nth-of-type(n + 2) {
    display: none;
  }
  .front_imgbox2 :first-child {
    width: 100%;
    height: auto;
  }
  .front_imgbox {
    transform: translateX(-36%);
  }
  .front_imgbox2 {
    transform: translateX(31%);
  }
  .front_title > span {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }
  #contact__wrap {
    padding-top: 50px;
  }
  .contact__title > contact__title {
    font-size: 3em;
    margin: 20px 0;
  }
  .contact__info {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
  }
  .logo_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding: 10px;
  }
  .contact__infotxt {
    margin-top: 150px;
    font-size: 1em;
  }
  .content08 {
    max-width: 1600px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* 태블릿 가로 사이즈 끝*/

/* 태블릿 세로 사이즈 시작*/
@media (min-width: 481px) and (max-width: 768px) {
  .content02 {
    position: absolute;
    top: 65%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: translate(0%, -50%);
  }
  .typing::before {
    content: "안녕하세요.";
    position: absolute;
    top: -30%;
    left: 0%;
    height: 17%;
    overflow: hidden;
    border-right: 0.05em solid white;
    white-space: nowrap;
    animation: typing2 3s steps(6), blink-caret 0.75s step-end infinite;
    animation: none;
  }
  .front_imgbox_about {
    transform: translateX(-57%);
  }
  .Profile {
    width: 50%;
  }
  .front_imgbox :nth-of-type(n + 2) {
    display: none;
  }
  .front_imgbox2 :nth-of-type(n + 2) {
    display: none;
  }

  .front_imgbox2 :first-child {
    width: 100%;
    height: auto;
  }
  .front_imgbox {
    transform: translateX(-30%);
  }
  .front_imgbox2 {
    transform: translateX(31%);
  }
  .front_title > span {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }
  #contact__wrap {
    padding-top: 50px;
  }
  .contact__title > h2 {
    font-size: 3rem;
    margin: 20px 0;
  }
  .contact__info {
    display: grid;

    grid-gap: 20px;
    justify-items: center;
    align-items: center;
  }
  .logo_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding: 10px;
  }
  .contact__infotxt {
    margin-top: 70px;
    font-size: 1.2em;
  }
  .content08 {
    max-width: 1600px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/* 태블릿 세로 사이즈 끝*/

/* 모바일 사이즈 시작*/
@media (max-width: 480px) {
  .Profile {
    width: 100%;
  }
  #section02 > .front_imgbox {
    left: -50%;
  }
  .content02 {
    position: absolute;
    top: 65%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(0%, -50%);
  }
  .typing::before {
    content: "안녕하세요.";
    position: absolute;
    top: -30%;
    left: 9%;
    height: 17%;
    overflow: hidden;
    border-right: 0.05em solid white;
    white-space: nowrap;
    /* 타이핑 효과를 위해 줄바꿈을 금지 */
    animation: typing2 3s steps(6), blink-caret 0.75s step-end infinite;
    animation: none;
  }

  @keyframes typing2 {
    from {
      width: 0;
    }

    to {
      width: 92%;
    }
  }
  .row {
    text-align: center;
  }
  .skill_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .front_imgbox :nth-of-type(n + 2) {
    display: none;
  }
  .front_imgbox2 :nth-of-type(n + 2) {
    display: none;
  }
  .front_imgbox2 :first-child {
    width: 100%;
    height: auto;
  }
  .front_imgbox2 {
    transform: translateX(31%);
  }
  .front_imgbox :first-child {
    width: 100%;
    height: auto;
  }
  .front_imgbox {
    transform: translateX(-34%);
  }
  .front_imgbox_about {
    transform: translateX(-86%);
  }
  .front_title > span {
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }

  .logo_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    border: 1px solid #838383;
    padding: 10px;
  }
  .content08 {
    max-width: 1600px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contact__info {
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
  }
  .contact__title > h2 {
    font-size: 3rem;
  }
  .content00 > h1 {
    font-size: 3rem;
  }

  .project_title > h2 {
    font-size: 3rem;
  }
  section[class*="section"]:not(.section01):not(.section02) [class^="content"] {
    font-size: 1.8rem;
  }

  section[class*="section"]:not(.section01):not(.section02) [class^="content"] > h1 {
    font-size: 3.2rem;
  }

  section[class*="section"]:not(.section01):not(.section02) [class^="content"] > span {
    font-size: 0.6rem;
  }
  .contact__infotxt {
    margin-top: 150px;
    font-size: 0.8em;
  }
}
/* 모바일 사이즈 끝 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0 auto;
  font-family: "TheJamsil5Bold";
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}

.home_title_wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 25px;
}

.home_title_wrap > span {
  font-size: 8pt;
  color: #000;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 98;
}

header .monument {
  line-height: 35px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

header .nav {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  background-color: white;
}

header .nav__list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

header .nav__item {
  margin: 20px 0px;
}
header .nav_item_right {
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  list-style: none;
  transform: translateY(-30%);
  margin-right: 30px;
}
header .nav__btn {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.nav_btn_margin {
  margin-left: 10px;
}
header .nav__btn:hover {
  opacity: 0.7;
}

header .nav__caption {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
  text-align: center;
}

header .nav__caption-inner {
  opacity: 0;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #f5f5f5;
}

header .nav__item:hover .nav__caption-inner {
  opacity: 1;
  transition: 1s;
}

/* 마우스 휠 애니메이션 */
.mouse_wheel {
  position: absolute;
  top: 60%;
  left: 50.1%;
  width: 25px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
.mouse_wheel::before {
  position: absolute;
  top: 50%;
  left: 35%;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  transform: translate(-40%, -40%);
  border-radius: 100%;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
  box-sizing: border-box;
}
.arrow_down {
  position: absolute;
  top: 64%;
  left: 50%;
  border-style: solid;
  border-width: 0 0.4rem 0.4rem 0.4rem;
  border-color: transparent transparent #ffffff transparent;
  transform: translateY(-50%) rotate(180deg) translateX(45%);
  animation: arrow 2s infinite;
}
.arrow_down2 {
  position: absolute;
  top: 63%;
  left: 50%;
  border-style: solid;
  border-width: 0 0.4rem 0.4rem 0.4rem;
  border-color: transparent transparent #ffffff transparent;
  transform: translateY(-50%) rotate(180deg) translateX(45%);
  animation: arrow 2s infinite;
}

section {
  width: 100%;
  height: 100vh; /* 화면 전체 높이로 설정 */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section01 {
  background: #000000;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
}

#section02 {
  color: #fff;
  background: #000;
  overflow: hidden;
  position: relative;
}

/* grid */
#section03 {
  background: linear-gradient(to top, #1d2c50, #000);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project_title {
  color: #fff;
}
#info_frame_wrap {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.info_frame {
  position: relative;
}
.img_portfolio {
  width: 105%;
  height: 100%;
  display: flex;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 95.5%;
  height: 102%;
}

.portfolio_img_list {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300%;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out; /* 이 부분만 수정하였습니다. */
  list-style: none;
  z-index: 1;
}

.portfolio_img_list li {
  position: relative;
  display: inline-block; /* float 속성을 제거하였습니다. */
  width: 33.33%;
  opacity: 0;
}

.portfolio_img_list li img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 9%;
  box-shadow: 0 0 10px rgb(72, 102, 149);
}
.portfolio_img_list li:hover::after {
  content: "Click";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9%;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 99;
  border-radius: 9%;
}

.info_text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Dolbomche_R";
}
table {
  width: 100%;
  padding-top: 30px;
  border-top: 2px solid;
}
th {
  text-align: left;
  padding: 5px;
}
td {
  float: right;
  padding: 5px;
}
.deteail-content {
  font-size: 1rem;
  padding: 7px;
}
.deteail-content-wrap {
  padding-top: 5%;
  padding-left: 10%;
}
.btn_content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content_02 {
  display: none;
}
.content_03 {
  display: none;
}
.content_04 {
  display: none;
}
.content_05 {
  display: none;
}
.content_06 {
  display: none;
}
.info_menu {
  grid-column: span 1;
}
.info_menu_line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(255, 255, 255, 0.1);
  outline: none;
  font-size: 9pt;
  margin: 20px;
}
/* 포트폴리오 버튼 */
.btn-16 {
  border: none;
  color: #000;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 1px;
  left: 0;
  direction: rtl;
  border-radius: 5px;
  z-index: 0;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px rgba(255, 255, 255, 0.133), 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

#section04 {
  background: linear-gradient(to top, #a0c8e1, #1d2c50) #000;
  height: 60%;
  overflow: hidden;
}
.bg-animation {
  position: absolute;
  left: 0;
}
.first_img {
  width: 100%;
}

article {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copyright {
  position: ABSOLUTE;
  bottom: 0;
  right: 0;
  color: gray;
  font-size: 8pt;
}

.content00,
.content01 {
  position: absolute;
  /* content들 position 설정 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content00 {
  z-index: 2;
  /* 가장 먼저 보이는 content z-index 설정 */
}
.content01 {
  z-index: 1;
  /* 두 번째로 보이는 content z-index 설정 */
  opacity: 0;
  /* 처음에는 숨겨진 상태로 설정 */
  transform: translateY(100%);
  /* 아래로 숨겨진 상태로 설정 */
}
.content01 > span {
  font-size: 3rem;
}
.content04 {
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
}

.content04 p,
.content04 span {
  padding-right: 5px;
}
.content03 {
  position: absolute;
  top: 20%;
  left: 0;
  right: inherit;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.position_value {
  right: 5%;
}
.content03 p {
  padding-left: 5px;
}
.row > img {
  width: 8%;
  margin: 12px;
}
.skill_title {
  margin: 35px 0;
  font-size: 16pt;
}

.about_me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.font_small {
  font-size: 1.1rem;
  font-family: "Dolbomche_R";
  /* 내용폰트추가 */
}

h1 {
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

p {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.blurry-text {
  backdrop-filter: blur(5px);
  padding: 10%;
  display: inline-block; /* 블러 처리된 영역이 텍스트에 맞게 자동 조절되도록 설정 */
  border-radius: 10%; /* 테두리: 필요한 경우에만 사용 */
  background-color: rgb(255 250 245 / 29%); /* 가독성 배경색 사용 */
  text-align: center;
}

.contact__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__title > h2 {
  color: #666e9a;
}
.logo_center {
  display: flex;
  justify-content: center;
}

.logo_center > img {
  width: 20%;
}
.logo_img:hover img {
  animation: Shake_it 1.2s;
  animation-iteration-count: 2;
}
.contact_effect {
  margin-top: 10px;
  text-align: center;
}

.logo_img > a {
  text-decoration: none;
}

.contact__text {
  font-size: 1.2em;
  font-weight: bold;
  color: #2d3146;
}
.contact__infotxt {
  color: #131924;
}
footer {
  background-color: #fff;
  z-index: 99;
}
.front_title {
  text-align: center;
}
.front_title > span,
.front_title > span {
  color: transparent;
  font-size: 5rem;
  -webkit-text-stroke: 2px #ffffff;
}

.github {
  color: #000;
  text-decoration: none;
}

.content08 > h5 {
  color: #000;
}

.content08 > .gitlink_font {
  font-size: 14pt;
}
.icon_bye {
  margin-left: 5px;
}

.footer_txt > span {
  color: #000;
  font-size: 14pt;
}
